html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kfeature-product-div,q,s,samp,small,strike,strong,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figcaption,figure,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
border:0; font:inherit; font-size:100%; outline:0; vertical-align:baseline; margin:0; padding:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display:block; *zoom:1;}
blockquote,q {quotes:none;}
blockquote:before,blockquote:after,q:before,q:after {content:none;}
a{background:transparent; color:#000; outline:none; text-decoration:none; vertical-align:baseline; margin:0; padding:0;}
a:hover { text-decoration:none;}

abbr[title],dfn[title] {border-bottom:1px dotted; cursor:help;}
input,select {vertical-align:middle; border:none; outline:none; border-radius:0; font-family: 'Poppins', sans-serif;}
input:focus{border:none; outline:none;}
select::-ms-expand {display: none;}
select:focus{border:none; outline:none;  -webkit-appearance:none;}
textarea{border:none; outline:none;  -webkit-appearance:none;}
html {-ms-text-size-adjust:100%; -webkit-text-size-adjust:100%;}
button,html input[type="button"],input[type="reset"],input[type="submit"] {-webkit-appearance:button; -webkit-border-radius: 0; cursor:pointer;}
button[disabled],input[disabled] {cursor:default; font-family: 'Poppins', sans-serif;}
input[type="checkbox"],input[type="radio"] {box-sizing:border-box; padding:0;}
input[type="search"] {-moz-box-sizing:content-box; -webkit-appearance:textfield; -webkit-box-sizing:content-box; box-sizing:content-box;}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {-webkit-appearance:none;}
input::-moz-focus-inner {border:0;padding:0;}
input[type="text"], input[type="name"], input[type="email"], input[type="date"], input[type="tel"]{ outline:none; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; -webkit-appearance: none; font-weight:400; border:none;}
input[type="text"]:focus, input[type="name"]:focus, input[type="email"]:focus, input[type="date"]:focus, input[type="tel"]:focus{ outline:none;}
textarea {overflow:auto;vertical-align:top; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; -webkit-appearance: none; font-weight:400; border:none; font-family: 'Open Sans', sans-serif;}
textarea:focus{ outline:none;}
a, input, img, button{-webkit-transition:all .3s ease-in; -moz-transition:all .3s ease-in; -ms-transition:all .3s ease-in; -o-transition:all .3s ease-in; transition:all .3s ease-in;}

h1,h2,h3,h4,h5,h6 {font-weight:400; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
img {max-width: 100%;height: auto; width: auto\9; /* ie8 */border:none;}
*{ margin:0px; padding:0px;}
nav ul {list-style:none;}
ul{ list-style:none;}
strong{ font-weight:700;}
.nopad{ padding-bottom:0px !important;}     
em{ font-style:italic;}
div, ul, li, a, ol, p, span, figure, section, input, textarea{-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
body{font-family: 'Poppins', sans-serif!important;font-size:16px; font-weight:400; margin:0px; padding:0px; text-align:center; -ms-text-size-adjust:100%; -webkit-text-size-adjust:100%; line-height:1;}
#wrapper{ width:100%; float:left; background: #fff;}
body{background: #ffffff!important;}
.container{width: 1500px; margin:0px auto;} 
#wrapper{width: 100%;float: left;}
.bg_img{width: 100%;float: left;padding-bottom: 78px;}
header{width: 100%;float: left;padding-top: 32px;}
header .logo{width: auto;float: left;}
header .header_menu{width: auto;float: left;margin-left: 83px;margin-top: 12px;}
header .header_menu ul{width: auto;float: left;}
header .header_menu ul li{width: auto;float: left;text-transform: uppercase;font-size: 15px;padding-right: 53px;}
header .header_menu ul li:last-child{padding-right: 0;}
header .header_menu ul li a{color: #fff;display: inline-block;vertical-align: middle;-webkit-transform: perspective(1px) translateZ(0);
transform: perspective(1px) translateZ(0);box-shadow: 0 0 1px rgba(0, 0, 0, 0);position: relative;}
header .header_menu ul li a:hover:before{left: 0;right: 0;}
header .header_menu ul li a:before{content: "";position: absolute;z-index: -1;left: 51%;right: 51%;bottom: -10px;background: #fff;
height: 3px;-webkit-transition-property: left, right;transition-property: left, right;-webkit-transition-duration: 0.3s;
transition-duration: 0.3s;-webkit-transition-timing-function: ease-out;transition-timing-function: ease-out;}
header .header_call{width: 275px;float: right;margin-top: 12px;}
header .header_call .toll_free{width: 100%;float: right;font-size: 21px;color: #fff;font-weight: 600;text-transform: uppercase;background:transparent;}
header .header_call .phone_no{width: 100%;float: right;color: #fff;font-size: 29px;font-weight: 800;text-align: right;margin-top: 3px;}
header .header_menu ul li.current_page_item a{color: #fff;}
.bg_section{width: 100%;float: left;padding: 0 164px;box-sizing: border-box;margin-top: 128px;}
.bg_section .bg_content{width: 557px;float: left;text-align: left;margin-top: 53px;}
.bg_section .bg_content h1{width: 100%;float: left;font-size: 50px;color: #fff;font-weight: 500;  line-height: 60px;}
.bg_section .bg_content .banner_description{width: 100%;float: left;font-size: 25px;color: #fff;font-weight: 300;line-height: 35px;margin-top: 35px;}
.bg_section .bg_content h2{width: 100%;float: left;font-size: 29px;font-weight: 700;color: #fff;margin-top: 43px;}
.bg_section .bg_form{width: 414px;float: right;}
.bg_section .bg_form form{width: 100%;float: left;}
.bg_section .bg_form form .banner_form{width: 100%;float: left;background-color: rgba(145, 28, 20, 0.9);padding: 30px;}
.bg_section .bg_form form .banner_form h2{width: 100%;float: left;font-size: 37px;color: #fff;font-weight: 300;text-transform: uppercase;margin-bottom: 10px;}
.bg_section .bg_form form .banner_form h3{width: 100%;float: left;font-size: 32px;color: #fff;font-weight: 700;text-transform: uppercase;margin-bottom: 38px;}
.bg_section .bg_form form .banner_form .frm-lft{width: 48%;float: left;}
.bg_section .bg_form form .banner_form .row{width: 100%;float: left;}
.bg_section .bg_form form .banner_form input[type="text"]{width: 100%;float: left;}
.bg_section .bg_form form .banner_form .frm-rgt{width: 48%;float: right;}
.bg_section .bg_form form .banner_form input{width: 100%;float: left;height: 37px;background: #590b09;color: #fff;font-size: 17px;text-transform: uppercase;padding: 0 18px;font-family: 'Poppins', sans-serif;margin-bottom: 18px;}
div.wpcf7 .ajax-loader{display: none!important;}
::placeholder {color: #fff;}
input::placeholder {color: #fff;opacity: 1;}
.bg_section .bg_form form .banner_form label{width: 100%;float: left;text-align: left;font-size: 17px;color: #fff;text-transform: uppercase;margin-bottom: 28px;}
.bg_section .bg_form form .banner_form .check_boxes{width: 100%;float: left;padding: 0 18px;}
.bg_section .bg_form form .banner_form .wpcf7-list-item{width: 158px;!important;float: left!important;font-size: 13px;color: #fff;text-align: left;}
.bg_section .bg_form form .banner_form input[type="checkbox"]{width: 13px!important;float: left!important;height: 13px!important;background: #fff!important;-ms-transform: scale(2);
-moz-transform: scale(2);-webkit-transform: scale(1.2);-o-transform: scale(2);}
.bg_section .bg_form form .banner_form input[type="checkbox"]:focus{width: 13px!important;height: 13px!important;outline:0;}
.bg_section .bg_form form .banner_form .wpcf7-list-item:nth-child(2n){width: 132px!important;float: right!important;}
.bg_section .bg_form form .banner_form span.wpcf7-list-item{margin-left: 0!important;}
.bg_section .bg_form form .banner_form .wpcf7-list-item-label{width: auto;float: left;margin-left: 11px;}
.bg_section .bg_form form .banner_form .wpcf7-submit{background: #fff!important;height: 59px!important;font-size: 19px;color: #000;font-weight: 600;margin-bottom: 0!important;margin-top: 17px;}
.bg_section .bg_form form .banner_form .wpcf7-submit:hover{background: #590b09!important;color: #fff;}
div.wpcf7-validation-errors{border: none!important;}
span.wpcf7-not-valid-tip{position: relative;bottom: 14px;text-align: left;font-size: 15px!important;width: 100%;float: left;}
div.wpcf7-validation-errors{display: none!important;}
.home_content{width: 100%;float: left;padding: 83px 0 180px 0;background: #232f4d;}
.home_content h2{width: 100%;float: left;text-align: center;font-size: 50px;color: #fff;font-weight: 500;position: relative;}
.home_content h2:before{content: '';position: absolute;left: 0;bottom: -18px;background: url('../images/title_img.png');height: 2px;width: 1294px;left: 50%; transform: translate(-50%,0);}
.home_content h3{width: 100%;float: left;text-align: center;font-size: 30px;color: #fff;font-weight: 500;position: relative;margin-top: 35px;}
.home_content .home_content_section{width: 100%;float: left;margin-top: 77px;background: #25385a;padding: 38px 0;}
.home_content .home_content_section .container{position: relative;}
.home_content .home_content_section .home_content_bar{width: 792px;float: left;text-align: left;padding-left: 166px;box-sizing: border-box;}
.home_content .home_content_section .home_content_bar p{width: 100%;float: left;color: #fff;font-size: 15px;font-weight: 500;line-height: 21px;margin-bottom: 25px;}
.home_content .home_content_section .home_content_bar p:last-child{margin-bottom: 0;}
.home_content .home_content_section .home_content_img{width: 525px;float: right;position: absolute;right: 0;top: -68px;}
.home_content .home_content_section .home_content_img figure{width: 100%;display: table;table-layout: fixed;vertical-align: middle;text-align: center;}
.home_content .home_content_section .home_content_img figure span{width: 100%;display: table-cell;vertical-align: middle;text-align: center;height: 435px;}
.home_content .home_content_section .home_content_img figure span img{width: auto;display: inline-block;vertical-align: middle;text-align: center;max-height: 100%;}
.practice_area{width: 100%;float: left;margin-top: -104px;padding-bottom: 163px;background: #232f4d;}
.practice_area .practice_title{width: auto;float: left;padding-left: 166px;box-sizing: border-box;}
.practice_area h2{width: auto;float: left;text-align: left;box-sizing: border-box;font-size: 44px;text-transform: uppercase;color:#355ca8;background: #fff;padding: 26px 38px;}
.practice_area h2 span{font-weight: 700;}
.practice_area ul{width: 100%;float: left;display: flex;flex-wrap: wrap;display: -ms-flexbox !important;justify-content: flex-start}
.practice_area ul li{width: 25%;float: left;position: relative;overflow: hidden;}
.practice_area ul li:hover img{-webkit-transform: scale(1.15);transform: scale(1.15);}
.practice_area ul li figure{width: 100%;float: left; position: relative;}
.practice_area ul li figure a{width: 100%;float: left;}
.practice_area ul li figure a img{width: 100%;float: left;-webkit-transform: scale(1);transform: scale(1.01);}
.overlay{position: absolute;left: 0;top: 0;width: 100%;height: 100%;background: rgba(0,0,0,0.3);}
.practice_area ul li h4{width: 100%;float: left;position: absolute;bottom: 35px;font-size: 20px;font-weight: 600;}
.practice_area ul li h4 a{color: #fff;}
.track_record{width: 100%;float: left;position: relative;background: #232f4d;padding-bottom: 92px;}
.track_record .track_record_title{width: 100%;float: left;text-align: center;margin-top: -60px;}
.track_record .track_record_title h2{width: auto;display: inline-block;font-size: 44px;color:#172e55;padding: 20px 44px;background: #fff;}
.track_record .track_record_title h2 span{font-weight: 700;}
.outer {width: 100%;float: left;}
#big{width: 100%;float: left;position: relative;} 
#big:before{content: '';

background: url('../images/triangle.png')no-repeat;

display: inline-block;

text-align: center;

width: 66px;

height: 40px;

position: absolute;

bottom: 0;

top: 0;

z-index: 11;

position: absolute;

top: 20px;

left: 50%;

transform: translate(-50%, -50%);}
#big:after{content: '';position: absolute;bottom: 0;left: 0;width: 100%;height: 107px;background: url('../images/testimonial_btm.png')no-repeat;z-index: 11;background-size: cover;}
#big .item { width: 100%;float: left;display: flex;flex-wrap: wrap;display: -ms-flexbox !important;justify-content: flex-start;max-height: 400px;}
#thumbs{padding: 60px 150px;width: 100%;float: left;position: relative;}
#thumbs .item {cursor: pointer;width: 100%;display: table;table-layout: fixed;vertical-align: middle;text-align: center;}
#thumbs .item h1 { font-size: 35px;font-weight: 800;color: #9aaed4; display: table-cell;vertical-align: middle;text-align: center;height: 50px;}
#thumbs .current .item h1{ font-size: 50px;color: #fff; }
.owl-theme .owl-nav [class*='owl-'] { -webkit-transition: all .3s ease; transition: all .3s ease; }
.owl-theme .owl-nav [class*='owl-'].disabled:hover { background-color: #D6D6D6; }
#big.owl-theme { position: relative; }
#big.owl-theme .owl-next, #big.owl-theme .owl-prev { background:#333; width: 22px; line-height:40px; height: 40px; margin-top: -20px; position: absolute; text-align:center; top: 50%; }
#big.owl-theme .owl-prev { left: 10px; }
#big.owl-theme .owl-next { right: 10px; }
#thumbs.owl-theme .owl-next, #thumbs.owl-theme .owl-prev { background:#333; }


#thumbs .owl-prev{background: url('../images/thumb_prev.png');width: 27px;height: 48px;position: absolute;left: 6%;top: 36%;}
#thumbs .owl-prev i{display: none;}
#thumbs .owl-next{background: url('../images/thumb_next.png');width: 27px;height: 48px;position: absolute;top: 36%;right: 6%;}
#thumbs .owl-next i{display: none;}
#big{display: flex;flex-wrap: wrap;display: -ms-flexbox !important;justify-content: flex-start;}
#big .item .lft_img{width: 50%;float: left;}
#big .item .lft_img figure{width: 100%;display: table;table-layout: fixed;vertical-align: middle;text-align: center;}
#big .item .lft_img figure span{width: 100%;display: table-cell;vertical-align: middle;text-align: center;}
#big .item .lft_img figure span img{width: 100%;display: inline-block;vertical-align: middle;text-align: center;max-height: 100%;}
.Aligner-item h2{width: 100%;float: left;text-align: left;font-size: 22px;font-weight: 500;color: #fff;margin-bottom: 12px;}
.Aligner-item p{width: 100%;float: left;text-align: left;font-size: 17px;color: #fff;margin-bottom: 27px;line-height: 23px;}
.Aligner-item h3{width: 100%;float: left;text-align: left;color: #fff;font-size: 22px;font-weight: 500;margin-bottom: 22px;}
.rgt_sec .testi_desc{width: 100%;float: left;margin-top: 40px;}
#big .owl-dots{position: absolute;bottom: 33px;z-index: 111;left: 50%;-webkit-transform: translateX(-50%);transform: translateX(-50%)}
#big .owl-dots .owl-dot{width: 12px;height: 12px;background: #c4beb8;margin-right: 19px;float: left;}
#big .owl-dots .owl-dot.active{background: #fff;}
.col-image{background-size: cover;width: 50%;float: left;}
.col-text{width: 50%;float: right;background: #305499;padding-top: 60px;padding-left: 60px;position: relative;}
.col-text:before{content: '';position: absolute;top: 0;left: 0;background: url('../images/testimonial_top.png');height: 107px;width: 100%;}
.thumbs_bg{width: 100%;float: left;background: #355ca9;}
.Aligner-item{width: 527px;float: left;}
.col-img{height: 400px;background-size: cover;background-size: cover!important;}
.call_to_free{width: 100%;float: left;padding: 0px 166px;box-sizing: border-box;background:#bf0101;padding: 54px 0 50px 0;}
.call_to_free .call_free_space{width: 100%;float: left;padding: 0 166px;}
.call_to_free .lft_sec{width: 518px;float: left;text-align: left;}
.call_to_free .lft_sec h2{width: 100%;float: left;font-size: 40px;color: #fff;margin-bottom: 18px;}
.call_to_free .lft_sec h2 span{font-weight: 600;}
.call_to_free .lft_sec p{width: 100%;float: left;text-align: left;font-size: 19px;color: #fff;font-weight: 600;line-height: 22px;}
.call_to_free .rgt_sec{width: 360px;float: right;margin-right: 90px;}
.call_to_free .rgt_sec .call{width: 100%;float: left;height: 78px;color: #bf0101;background: #fff;font-size: 36px;font-weight: 700;line-height: 78px;transition: background-color 0.5s ease;}
.call_to_free .rgt_sec .call:hover{background: #590b09;color: #fff;}
.call_to_free .rgt_sec .call:hover a{color: #fff;}
.call_to_free .rgt_sec a{pointer-events: none;cursor: default;color: #bf0101;}
.qualified{float: left;width: 100%;position: relative;background: #555555;padding: 40px 0 40px 0;}
.qualified:after{content: "";width: 43%;height: 100%;right: 0;top: 0;position: absolute;background: url(../images/qualified.png) no-repeat center center;
background-size: auto;background-size: cover;}
.qualified .qualified_content{width: 795px;float: left;text-align: left;padding-left: 166px;}
.qualified .qualified_content h2{width: 100%;float: left;font-size: 40px;color: #fff;line-height: 48px;margin-bottom: 18px;}
.qualified .qualified_content h2 span{font-weight: 700;}
.qualified .qualified_content p{width: 100%;float: left;font-size: 16px;color: #fff;line-height: 25px;font-weight: 500;}
.client_review{width: 100%;float: left;background: url(../images/client_review.png) no-repeat center center;height: 100%;
background-size: auto;background-size: cover;padding: 60px 0 100px 0;}
.client_review #client_reviews{width: 100%;float: left;text-align: left;background: #fff;padding: 95px 65px 120px 65px;-webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
-moz-box-shadow:    0px 0px 30px 0px rgba(0, 0, 0, 0.2);box-shadow:0px 0px 30px 0px rgba(0, 0, 0, 0.2);}
.client_review .client_review_box{width: 1122px;display: inline-block;/*padding: 0 166px 0px 213px;*/padding-left: 30px;padding-right: 85px;}
.client_review #client_reviews h4{width: 100%;float: left;text-align: left;font-size: 20px;color: #fff;font-weight: 700;color: #000;margin-bottom: 40px;position: relative;}
.client_review #client_reviews h4:before{content: '';background:url('../images/title_before.png');width: 10px;height: 6px;display: inline-block;padding-top: 8px;background-repeat: no-repeat;}
.client_review #client_reviews h4:after{content: '';background:url('../images/title_right.png');width: 10px;height: 6px;display: inline-block;padding-top: 8px;background-repeat: no-repeat;}
.client_review #client_reviews p{width: 100%;float: left;text-align: left;font-size: 20px;font-style: italic;line-height: 29px;position: relative;}
.client_review #client_reviews p:before{content: '';background:url('../images/content_before.png');width: 10px;height: 6px;display: inline-block;padding-top: 8px;background-repeat: no-repeat;}
.client_review #client_reviews p:after{content: '';background:url('../images/content_after.png');width: 10px;height: 6px;display: inline-block;padding-top: 8px;background-repeat: no-repeat;}
.client_review #client_reviews span{width: 100%;float: right;font-size: 20px;color: #000;text-align: right;margin-top: 25px;}
.client_review .client_review_title{width: auto;float: left;position: relative;top:40px;z-index: 111;left: -45px;}
.client_review .client_review_title h2{width: auto;float: left;font-size: 42px;color: #fff;padding: 25px 33px;background: #172e55;}
.client_review .client_review_title h2 span{font-weight: 700;}
.client_review .owl-dots{display: block!important;position: absolute;left: 50%;transform: translate(-50%, -50%);bottom: 50px;} 
.client_review .owl-dots .owl-dot{width: 12px;height: 12px;margin-right: 16px;background: #9aadd3;float: left;} 
.client_review .owl-dots .owl-dot.active{background: #355ca8;}
.review{width: 240px;float: right;height: 57px;line-height: 57px;background: #355ca8;color: #fff;font-size: 22px;text-transform: uppercase;position: relative;z-index: 11;top:-30px;left: -55px;}
.review:hover{background: #172e55;}
.toll_free{width: 100%;float: left;background: #bf0101;}
.toll_free .toll_free_sec{width: 100%;float: left;padding: 33px 0;}
.toll_free .toll_free_sec .lft_sec{width: 606px;display: inline-block;vertical-align: middle;margin-right: 100px;}
.toll_free .toll_free_sec .lft_sec h2{width: 100%;float: left;font-size: 46px;color: #fff;text-align: left;}
.toll_free .toll_free_sec .lft_sec h2 span{font-weight: 700;}
.toll_free .toll_free_sec .rgt_sec {width: 355px;display: inline-block;vertical-align: middle;height: 70px;line-height: 70px;}
.toll_free .toll_free_sec .rgt_sec .call{width: 100%;display: inline-block;font-size: 36px;font-weight: 700;color: #fff;background:transparent;border: 3px solid #fff;transition: background-color 0.5s ease;}
.toll_free .toll_free_sec .rgt_sec .call a{color: #fff;pointer-events: none;}
.toll_free .toll_free_sec .rgt_sec .call:hover{background: #590b09;border-color: #590b09}
.attorneys{width: 100%;float: left;background: #232f4d;padding-top: 70px;padding-bottom: 100px;}
.attorneys h2{width: 100%;float: left;text-align: center;font-size: 46px;color: #fff;font-size: 46px;margin-bottom: 60px;}
.attorneys h2 span{font-weight: 700;}
.attorneys .attorneys_bar{width: 100%;float: left;}
.attorneys .attorneys_bar li{width: 100%;float: left;position: relative;margin-bottom: 50px;}
.attorneys .attorneys_bar h4{width: 100%;float: left;text-align: center;font-family: 'Great Vibes', cursive;color: #fff;font-size: 32px;position: absolute;bottom: 40px;}
.attorneys .attorneys_bar h5{width: 100%;float: left;text-align: center;font-weight: 300;color: #fff;font-style: italic;display: none;}
.attorneys .attorneys_bar img{width: 100%!important;display: inline-block!important;height: 100%;}
.attorneys .attorneys_bar li .team_img{width: 100%;float: left;}
.attorneys .attorneys_bar li .team_img figure{width: 100%;display: table;table-layout: fixed;vertical-align: middle;text-align: center;}
.attorneys .attorneys_bar li .team_img figure span{width: 100%;display: table-cell;vertical-align: middle;text-align: center;height: 488px;}
.attorneys .attorneys_bar li .team_img figure span img{width: 100%;display: inline-block;vertical-align: middle;text-align: center;max-height: 100%;}
.attorneys .owl-item.active.center li span{border: 5px solid;border-image-slice: 100%;border-image-source: url("../images/frame.png");
border-image-slice: 2 2;}
.attorneys .owl-item.active.center li h4{position: relative;bottom: -30px;font-size: 45px;}
.attorneys .owl-item.active.center li h5{display: inline-block!important;font-size: 22px;position: relative;bottom: -45px;}
.attorneys .owl-nav{padding: 0 376px;position: absolute;top: 92%;width: 100%;color: #fff;font-size: 18px;font-weight: 300;font-style: italic;text-transform: capitalize;}
.attorneys .owl-nav .owl-prev{padding-left: 0px;position: absolute;left: 12%;transform: translate(180%, -50%);}
.attorneys .owl-nav .owl-prev:before{content: '';background:url('../images/team_lft.png')no-repeat;height: 48px;display: inline-block;width: 27px;position: absolute;
top: 50%;left: 50%;transform: translate(-230%, -45%);}
.attorneys .owl-nav .owl-next:after{content: '';background:url('../images/team_rgt.png')no-repeat;height: 48px;display: inline-block;width: 27px;position: absolute;
top: 50%;right: 50%;transform: translate(230%, -45%);}
.attorneys .owl-nav .owl-next{position: absolute;right: 12%;transform: translate(-180%, -50%);}
.news_section{width: 100%;float: left;background: #555555;padding-bottom: 95px;}
.news_section .news{width: 100%;float: left;padding: 0 166px;box-sizing: border-box;}
.news_section .news_title{width: auto;display: inline-block;position: relative;top:-35px;}
.news_section .news_title h2{width: auto;display: inline-block;font-size: 42px;color: #355ca9;padding: 28px 47px;background: #fff;}
.news_section .news_title h2 span{font-weight: 700;}
.news_section ul{width: 100%;float: left;display: flex;flex-wrap: wrap;display: -ms-flexbox !important;justify-content: flex-start;margin-top: 30px;}
.news_section ul li{width: 358px;float: left;background: #dadada;-webkit-box-shadow: -2px 4px 20px 0px rgba(0, 0, 0, 0.24);
-moz-box-shadow:    -2px 4px 20px 0px rgba(0, 0, 0, 0.24);box-shadow:-2px 4px 20px 0px rgba(0, 0, 0, 0.24);margin-right: 47px;}
.news_section ul li:last-child{margin-right: 0;}
.news_section ul li .featured_img{width: 100%;float: left;}
.news_section ul li .featured_img figure{width: 100%;display: table;table-layout: fixed;vertical-align: middle;text-align: center;}
.news_section ul li .featured_img figure span{width: 100%;display: table-cell;vertical-align: middle;text-align: center;height: 224px;}
.news_section ul li .featured_img figure span img{width: auto;display: inline-block;vertical-align: middle;text-align: center;max-height: 100%;}
.news_section .news_desc{width: 100%;float: left;padding: 24px 28px;text-align: left;}
.news_section .news_desc h2{width: 100%;float: left;font-size: 22px;font-weight: 600;color: #000;line-height: 26px;margin-bottom: 18px;min-height: 104px;}
.news_section .news_desc .read_more{width: auto;float: left;font-size: 18px;color: #000;border-bottom: 2px solid #6d6d6d;padding-bottom: 3px;}
.news_section .news_desc .read_more:hover{color: #355ca9;border-color: #355ca9;}
.free_consultation_sec{width: 100%;float: left;background: #bf0101;position: relative;padding-bottom: 50px;}
.free_consultation_sec .free_consultation{width: 1175px;display: inline-block;margin: 0 auto;padding:0 50px;}
.free_consultation_sec .free_consultation .lft_bar{width: 510px;float: left;text-align: left;padding-top: 120px;}
.free_consultation_sec .free_consultation .lft_bar h2{width: 100%;float: left;font-size: 45px;color: #fff;font-weight: 300;line-height: 48px;}
.free_consultation_sec .free_consultation .lft_bar h2 span{font-weight: 700;}
.free_consultation_sec .free_consultation .lft_bar h2:before{position: absolute;content: '';display: inline-block;border: 5px solid;border-image-slice: 100%;border-image-source: url("../images/consultation.png");
border-image-slice: 2 2;width: 820px;height: 222px;left: -5px;top: 50px;}
.free_consultation_sec .free_consultation .lft_bar .description{width: 100%;float: left;font-size: 22px;color: #fff;font-weight: 300;margin-top: 140px;line-height: 28px;}
.free_consultation_sec .free_consultation .rgt_bar{width: 358px;float: right;margin-top: 50px;}
.free_consultation_sec .free_consultation .rgt_bar .bg_section{padding: 0;margin-top: 0;}
.free_consultation_sec .free_consultation .rgt_bar .bg_section .banner_form{background: none;padding: 0;}
.free_consultation_sec .free_consultation .rgt_bar .bg_section .banner_form h2{display: none;}
.free_consultation_sec .free_consultation .rgt_bar .bg_section .banner_form h3{display: none;}
.free_consultation_sec .free_consultation .rgt_bar .bg_section .bg_form{width: 100%;}
.free_consultation_sec .free_consultation .rgt_bar .bg_section .banner_form .wpcf7-submit{font-size: 24px;color: #bf0101;}
.free_consultation_sec .free_consultation .rgt_bar .bg_section .banner_form .wpcf7-submit:hover{color: #fff;}
.free_consultation_sec .free_consultation small{width: 100%;float: left;font-size: 12px;color: #fff;font-style: italic;margin-top: 35px;}






